/* Main container for profile */
.profile-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    height:auto;
    scrollbar-width: none;
}

/* Loading screen */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.spinner-border {
    color: #007bff;
}

/* Profile content section */
.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

/* Profile picture */
.profile-picture-page {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0px;
}

/* Heading */
.profile-heading {
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.rating-heading {
    margin-top: 10px;
    margin-bottom: -10px;
}

/* Image carousel */
.carousel-container {
    position: relative;
    width: 600px;
    height: 800px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    color: #007bff;
    cursor: pointer;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Delete image button */
.delete-image-btn {
    padding: 12px 25px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: -10px; /* pull close to the carousel */
    margin-bottom: 20px;
    transition: background-color 0.3s ease;

}

.delete-image-btn:hover {
    background-color: #c82333;
}

/* Profile details grid */
.profile-details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.detail-item {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #555;
}

.detail-label {
    font-weight: bold;
    color: #333;
}

.detail-value {
    color: #777;
}

/* Edit Profile Button */
.edit-profile-btn {
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.edit-profile-btn:hover {
    background-color: #0056b3;
}

.stars {
    font-size: 50px;
    margin-bottom: 20px;
}

.star {
    pointer-events: none;
    color: #cccccc;
    transition: color 0.2s;
}

.star.filled {
    color: #fbbf24;
}

