.chat-page-container {
    border: none;
    border-top: 1px solid #6f42c1;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.chat-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 130px); /* Adjust if your header is a different height */
    align-items: center;
    width: 60%;

    border-color: #6f42c1;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;

    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.chat-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 72px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
    background-image: linear-gradient(19deg, rgba(195, 34, 161, 0.888) 0%, rgb(111, 66, 193) 91%);
    border-bottom: 2px solid #6f42c1;
}



.chat-area {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    flex-grow: 1; 
    overflow-y: auto; 
    margin-right: 20px;
    margin-left: 20px;
    /* margin-top: 20px; */
    scrollbar-width: none;
    width: 100%;
    padding: 20px;
    gap: 3px;
}


.chat-area::-webkit-scrollbar {
    display: none;
}

.message-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    left: 0;

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

}

.roommate-picture {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    border-radius: 100%;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    align-items: center;
    background-color: gray;
    align-items: center;
    display: flex;
    justify-content: center;
}


.message-text {
    margin: 4px 0 0 0; /* only top margin */
}

.hold-message {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: max-content;
    text-align: left;
    border-radius: 1rem;
}