body {
  background-color: #fff;
  text-align: center;
}

h1 {
  color: #333;
}

a {
  color: #6c0277;
  text-decoration: none;
  font-weight: bold;
}

label.form-label {
  float: left;
}

.btn-primary {
  background-color: #6c0277;
  border: none;
  padding: 10px;
  border-radius: 20px;
}

.btn-primary:hover {
  background-color: #53025a;
}

p {
  padding: 10px;
  color: #7F7F7F;
}