/* Split Panel Container */
.split-panel-container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 93%;
    margin: 0;
    border: none !important;
    border-radius: 0 !important;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}

/* No text selection during drag */
.no-select {
    user-select: none;
}

/* Left Panel */
.left-panel {
    overflow: auto;
    height: 100%;
    margin-right: 10px;
    scrollbar-width: none;
}

/* Right Panel */
.right-panel {
    overflow: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Divider */
.divider {
    width: 4px;
    cursor: col-resize;
    transition: background-color 0.2s ease;
    height: 100%;
    flex-shrink: 0; /* Prevent divider from shrinking */
}

/* Divider hover effect */
.divider-hover {
    background-color: purple !important; /* Bootstrap primary color */
}

.header {
    width: 100%;
    height: 50px;
    background-color: purple;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: right;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid #fff;
    margin-left: 20px;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.action-section {
    width: max-content;
    left: 0;
    position: absolute;
    display: flex;
}

.logo {
    font-weight: bold;
    color: white;
    height: auto;
    margin: auto;
}