/* updated css for index page/landing page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'Inter', sans-serif;
  --primary-color: purple;
  --black: #000000;
  --white: #ffffff;
}

body {
  font-family: var(--font-family);
  color: var(--black);
  background-color: var(--white);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  padding: 1rem 2rem;
  border-bottom: 1px solid #dddddd;
}

.navbar-left .logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--black);
  cursor: pointer;
  background: rgb(195, 34, 161);
  background: linear-gradient(19deg, rgba(195, 34, 161, 0.88763427734375) 0%, rgba(111, 66, 193, 1) 91%);
}

.navbar-right {
  display: flex;
  align-items: center !important;
  gap: 2rem !important;
  margin-top: 1rem;
}

.navbar-right a:hover {
  color: #897389 !important;
}

.navbar-right ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navbar-right li a {
  text-decoration: none;
  border-radius: 10px;
  color: #6F42C1;
  padding: 2px;
  font-size: 1.1rem;
}

.navbar-right li a:hover {
  text-decoration: underline;
}

.hero {
  position: relative;
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  padding: 2rem;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 600px;
  color: var(--black);
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.signup-button {
  background-color: #fff1fc;
  border: none;
  color: purple !important;
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: 'League Spartan';
}

.signup-button:hover {
  background-color: #410041;
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(-50%, 0);
  }

  40% {
    transform: translate(-50%, -10px);
  }

  60% {
    transform: translate(-50%, -5px);
  }
}

@media (max-width: 768px) {
  .navbar-right {
    gap: 1rem;
  }

  .hero-content h1 {
    font-size: 2.2rem;
  }

  .hero-content p {
    font-size: 1.1rem;
  }
}