.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.chatBox {
    width: 100%;
    height: 65px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: purple;
    color: white;
    justify-content: left;
    padding-left: 15px;
    gap: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chatBox.selected {
    background-color: #9932CC; /* A slightly lighter purple */
    box-shadow: 0 0 0 2px white; /* White outline to indicate selection */
}

.profilePic {
    min-width: 40px;
    min-height: 40px;
    object-fit: cover;
    background-image: url("src/assets/transparent.jpg");
    border-radius: 100%;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    align-items: center;
}

.profileBox {
    
    height: 100%;
    width: 100%;
    gap: 10px;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
    flex-grow: 1;
}

.settingTab {  
    text-align: center;
    width: 100%;
    background-color: lightgray;
    height: 50px;
    align-content: center;
}

.matchList {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap:5px;
    flex-grow: 1;

     /* Add these properties */
    max-height: 300px;     /* Set your desired maximum height */
    overflow-y: auto;      /* Enable vertical scrolling when content exceeds max-height */
    padding: 10px;   
    min-height: 80px;
    scrollbar-width: none;
}

.matchBox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selectedBox {
    width: 95%;
    border-color: black;
    background-color: lightgray;
    border-style: solid;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    height: 1px;
    width: 100%;
    background-color: black;
}